<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/wsign-admin-member.html" data-title="微博账号" href="javascript:;">微博账号</a></li>
					<li><a data-href="/wsign-admin-mlist.html" data-title="会员列表" href="javascript:;">会员列表</a></li>
					<li><a data-href="/wsign-admin-tl.html" data-title="微博账号" href="javascript:;">贴吧账号</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i>日志管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/wsign-info-cls.html" data-title="任务列表" href="javascript:;">任务列表</a></li>
					<li><a data-href="/wsign-info-tinfo.html" data-title="贴吧签到" href="javascript:;">贴吧签到</a></li>
					<li><a data-href="/wsign-info-info.html" data-title="超话签到" href="javascript:;">超话签到</a></li>
					<li><a data-href="/wsign-info-zinfo.html" data-title="知道签到" href="javascript:;">知道签到</a></li>
					<li><a data-href="/wsign-info-winfo.html" data-title="文库签到" href="javascript:;">文库签到</a></li>
					<li><a data-href="/wsign-info-top.html" data-title="贴吧置顶" href="javascript:;">贴吧置顶</a></li>
					<li><a data-href="/wsign-info-binfo.html" data-title="封禁用户" href="javascript:;">封禁用户</a></li>
					<li><a data-href="/wsign-info-dinfo.html" data-title="每日一善" href="javascript:;">每日一善</a></li>
					<li><a data-href="/wsign-info-cron.html" data-title="cron" href="javascript:;">定时任务</a></li>
					<li><a data-href="/wsign-info-einfo.html" data-title="错误日志" href="javascript:;">错误日志</a></li>
				</ul>
			</dd>
		</dl>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>